.about {
 
  width: 100%;
  height: auto;
  background-color: black;
 
}
.about h1 {
  margin: 0;
  text-transform: uppercase;

  font-size: 300px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 10px;
  /* color: #ffffff; */
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
}
.bio {
  height: auto;
  margin: 10px 60px;
 
}
.bio p {
  margin: 0;
  color: #8f9094;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  
}
.bio p span{
  color: #3ccf91;
  /* text-transform: uppercase; */
  font-weight: 500;
}
.bio p span{
  color: rgb(255, 255, 255);
  background-position: 0;
  background: linear-gradient(to right, #000000 0, #1aa76c 10%, #ffffff 20%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text12-animation 15s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes text12-animation {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 200px;
  }
  100% {
    background-position: 0;
  }
}
/* Responsive design */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
 
}

@media (max-width: 768px) {
  .bio {
    margin: 10px 25px;
  }
}

@media (max-width: 576px) {
  .bio {
    margin: 10px 20px;
  }
  .bio p {
    font-size: 20px;
  }
}
