.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 10;
 color: rgb(253, 231, 203);
  background-color: #000000;
}

.logo {
  width: 40%;
  margin-left: 60px;

}
.logo h1 {
  font-size: 20px;
  margin: 0;;
}
.logo h1{
  color: rgb(255, 255, 255);
 font-weight: bold;
  background-position: 0;
  background: linear-gradient(to right, #000000 0, #1aa76c 10%, rgb(253, 231, 203) 20%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text12-animation 6s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes text12-animation {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 200px;
  }
  100% {
    background-position: 0;
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(253, 231, 203);
  transition: all 0.3s ease;
}

.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.nav-menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu.open {
  display: block;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-right: 60px;
}

.nav-menu .link {
  margin-right: 20px;
  
  text-decoration: none;
  color: rgb(253, 231, 203);
  font-weight: 300;
}

.nav-menu .link.active{
    color: green;
  }

  .nav-menu .link.active{
    color: rgb(255, 255, 255);
   font-weight: 600;
    background-position: 0;
    background: linear-gradient(to right, #000000 0, #1aa76c 10%, rgb(253, 231, 203) 20%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text12-animation 6s infinite linear;
    animation-fill-mode: forwards;
  }

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
.logo{
  margin-left: 0;
}
  .nav-menu {
    display: none;
    position: absolute;
    height: 100vh;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000000;
    padding: 20px;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

.nav-menu .link {
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    color: rgb(253, 231, 203);
    font-size: 28px;
    font-weight: 400;
  }

  
  .nav-menu.open {
    display: block;
  }
  .nav.open {
    background-color: #000000;
  }
  .logo.open {
    color: rgb(253, 231, 203);
  }
  .hamburger.open span {
    background-color: rgb(253, 231, 203);
  }
}
